<a href="/reports/{{id}}">
  <article class="card">
    <h2>
      {{title}}
    </h2>
    <h3>By {{report_author}}</h3>
    <h4>Post By {{user.username}}</h4>
    <p>Score: {{report_score}} / 5</p>
  </article>
</a>