<article class="report">
  <div class="title">
    <h4>{{title}}</h4>
  </div>
  <div class="score">
    Score = {{report_score}}/5
  </div>
  <div class="meta">
  Created by {{user.username}} on {{ createdAt}}
    |
    <a href="/report/{{id}}">{{comments.length}} comments</a>
  </div>
</article>