<article class="card">
  <a href="/report/{{id}}">
    <h3>{{title}}</h3>
    <h4>
      Created by
      {{user.username}}
    <p>
      Score =
      {{report_score}}/5
    </p>

    {{comments.length}}
    comments</a>

</article>

<script src="../../public/js/individualReport.js"></script>